.custom-tooltip {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    /* Reduce shadow */
}

.highcharts-tooltip-box {
    fill: none !important;
    /* Remove default background and border */
}

.highcharts-tooltip text {
    text-shadow: none !important;
    /* Remove text shadow */
}

.highcharts-tooltip .highcharts-label {
    fill: none !important;
    stroke-width: 0 !important;
}

.highcharts-tooltip path {
    display: none;
    /* Hide the arrow */
}